[Unit]
Description=Check for Padel court bookings

[Service]
Type=oneshot
ExecStart=/home/jole/.local/bin/padel

[Install]
WantedBy=multi-user.target
