[init]
	defaultBranch = main
[user]
	name = Jonas Weber
	email = jonas@jole.dev
[pull]
    rebase = false
[rerere]
	enabled = true
[maintenance]
	repo = /home/jole/code/reditus/intern
	repo = /home/jole/.dotfiles
