# Configure the monitors
if [ "$(hostname)" = "jolepc" ]; then
    # DPY-4 is the right monitor, DPY-2 is the left monitor
    # Both are 2560x1440 144Hz
    nvidia-settings --assign CurrentMetaMode="
        DPY-4: 2560x1440_144 @2560x1440 +0+0 {ViewPortIn=2560x1440, ViewPortOut=2560x1440+0+0, ForceCompositionPipeline=On, ForceFullCompositionPipeline=On},
        DPY-2: 2560x1440_144 @2560x1440 +2560+0 {ViewPortIn=2560x1440, ViewPortOut=2560x1440+0+0, ForceCompositionPipeline=On, ForceFullCompositionPipeline=On}"
    xrandr --output DP-2 --primary

    # Bei Laurin
    # xrandr --output DP-0 --primary

elif [ "$(hostname)" = "jolelaptop" ]; then
    xrandr --output eDP --primary --mode 1920x1080 --rate 60 --set TearFree on
fi

# Start the compositor
picom --no-frame-pacing &

# Enable numlock
numlockx &

# Set the keyboard layout
setxkbmap de us

# Turn off the bell
# https://wiki.archlinux.org/title/PC_speaker#Xorg
xset -b

# Disable DPMS and screen saving
# We only enable screen saving while the session is locked
xset s off -dpms

# Lock the screen when suspending or hibernating
xss-lock --transfer-sleep-lock -- screen-lock &
