configuration{
    modi: "drun,p:rofi-power-menu";
    show-icons: true;
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    hide-scrollbar: true;
    display-drun: "Apps";
    display-p: "Power Menu";
}

@theme "catppuccin-mocha"
