[Desktop Entry]
Version=1.0
Name=reditus Office
Comment=reditus Office
Exec=chromium --new-window --ozone-platform=wayland --app=https://office.reditus.de/@/reditus-campus#start&moveTo=1842,1500 --name="reditus Office" --class="reditus Office"
Terminal=false
Type=Application
Icon=/home/jole/.local/share/applications/icons/reditus.png
StartupNotify=true
