@import "../../.local/share/catppuccin-waybar/themes/mocha.css";

* {
    font-family: JetBrains Mono Nerd Font;
    font-size: 12px;
    min-height: 0;
}

#waybar {
    background: transparent;
    color: @text;
}

#workspaces {
    border-radius: 1rem;
    margin: 8px 8px 0 8px;
    background-color: @surface0;
}

#workspaces button {
    border: unset;
    border-radius: 1rem;
    color: @overlay0;
}

#workspaces button.active {
    color: @lavender;
}

#workspaces button.urgent {
    /* background-color: @red; */
    /* color: @surface0; */
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: inherit;
    background-color: @surface1;
    /* color: @crust; */
}

#cpu,
#temperature,
#battery,
#backlight,
#pulseaudio,
#clock,
#bluetooth,
#network,
#tray {
    background-color: @surface0;
    border-radius: 1rem;
    margin: 8px 8px 0 8px;
    padding: 8px 16px;
    color: @lavender;
}
